{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}All posts{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h2>My Posts</h2>
    </div>

    <div class="col-md-2">
        <a href="{% url 'blog:post_create' %}" class="btn btn-block btn-primary btn-h1-spacing">Create New Post</a>
    </div>
    <div class="col-md-12">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Title</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Operations</th>
            </thead>

            <tbody>

            {% for post in posts %}

            <tr>
                <th>{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.body|striptags|slice:":50" }} {% if post.body|striptags|length >= 50 %} {{ "....." }} {% endif %}</td>
                <td>{{ post.created_at }} {{tz}}</td>
                <td><a href="{% url 'blog:post_detail' post.slug %}" class="btn btn-secondary btn-sm">View</a>
                    <a href="{% url 'blog:post_update' post.slug %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'blog:post_delete' post.slug %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>

            {% endfor %}

            </tbody>
        </table>

<!--        <div class="text-center">-->
<!--            {!! $posts->links(); !!}-->
<!--        </div>-->
    </div>
</div>

{% endblock %}

{% block pagination %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}
      {% for page_number in paginator.page_range %}
          {% if page_number == page_obj.number %}
          <li class="page-item active" aria-current="page">
              <span class="page-link">{{page_number}}</span>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{page_number}}</a></li>
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
      {% endif %}
  </ul>
</nav>
{% endblock %}