{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Post | {{post.title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-2">
        <a type="button" class="btn btn-secondary" href="{% url 'blog:post_list' %}"><< All posts</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-9">
        <h1>{{ post.title }}</h1>

        <p class="lead">{{ post.body | safe }}</p>

        <hr>

        <div class="tags">
            {% for tag in post.tags.all %}
            <span class="badge bg-light text-dark mb-2">#{{tag.name}}</span>
            {% endfor %}
        </div>

    </div>

    <div class="col-3">
        <div class="card card-body bg-light">
            <dl class="dl-horizontal">
                <label>Url:</label>
                <p><a href="{% url 'blog:blog_detail' post.slug %}">{{ post.slug }}</a></p>

                <label>Category:</label>
                {% for category in post.categories.all %}
                <a href="#" class="link-info">{{category.name}}</a>
                {% empty %}
                <p>No categories assigned</p>
                {% endfor %}

                <label class="mt-4">Created At:</label>
                <p>{{ post.created_at }} {{tz}}</p>

                <label>Last Updated:</label>
                <p>{{ post.updated_at }} {{tz}}</p>
            </dl>

            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <a type="button" href="{% url 'blog:post_update' post.slug %}" class="btn btn-primary">Edit</a>
              <a type="button" href="{% url 'blog:post_delete' post.slug %}" class="btn btn-danger">Delete</a>
            </div>

        </div>
    </div>
</div>

{% endblock %}